{% extends 'layout.html' %}

{% if section %}
  {% set page_title = 'Editar Sección' %}
  {% set header_text = 'Editar Sección' %}
{% else %}
  {% set page_title = 'Crear Sección' %}
  {% set header_text = 'Nueva Sección' %}
{% endif %}

{% block title %}{{ page_title }}{% endblock %}
{% block header %}{{ header_text }}{% endblock %}

{% block content %}
<form method="post">
  <div class="form-group">
    <label>Nombre de la sección</label>
    <input name="name" class="form-control" value="{{ section.name if section else '' }}" required>
  </div>
  <div class="form-group mt-3">
    <label>Orden</label>
    <input type="number" name="order" class="form-control"
           value="{{ section.order if section else 0 }}" min="0">
  </div>
  <button type="submit" class="btn btn-success mt-4">Guardar</button>
  <a href="{{ url_for('section.index') }}" class="btn btn-secondary mt-4">Cancelar</a>
</form>
{% endblock %}
