Flask==2.3.2
psycopg2-binary==2.9.6
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.0.3
python-dotenv==1.0.0
Flask-JWT-Extended==4.4.4
pycountry==22.3.5
phonenumbers==8.13.17
numpy==1.24.4
pandas==2.0.3
openpyxl==3.1.2
