{% extends 'layout.html' %}
{% block title %}Mis Cartas{% endblock %}
{% block header %}Cartas Asignadas{% endblock %}
{% block content %}
  <div class="d-flex align-items-center mb-3">
    {% if user.rol in ['Administrador', 'Administrador_2', 'Trabajador'] %}
      <a href="{{ url_for('letter.bulk_upload') }}" class="btn btn-primary">
        Subida Masiva de Cartas
      </a>
      <a href="{{ url_for('letter.upload_one') }}" class="btn btn-secondary ml-2">
        Subir Carta Individual
      </a>
    {% endif %}
  </div>

  <div class="mb-3">
    <label for="userFilter">Filtrar por usuario:</label>
    <select id="userFilter" class="form-control" onchange="filterByUser()">
      <option value="">Todos</option>
      {% for nombre in usuarios_unicos %}
        <option value="{{ nombre }}">{{ nombre }}</option>
      {% endfor %}
    </select>
  </div>



  <br>
  {% if letters %}
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Nombre de Carta</th>
          {% if user.rol in ['Administrador', 'Administrador_2', 'Trabajador'] %}
            <th>Usuario</th>
            {% if user.rol in ['Administrador', 'Administrador_2'] %}
              <th>Acciones</th>
            {% endif %}
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for l in letters %}
        <tr>
          <td>
            <a href="{{ url_for('letter.download', letter_id=l.id) }}">
              {{ l.filename }}
            </a>
          </td>

          {% if user.rol in ['Administrador', 'Administrador_2', 'Trabajador'] %}
          <td>
            {{ l.user.nombre_completo }} {{ l.user.apellido }}
          </td>
          {% endif %}

          {% if user.rol in ['Administrador', 'Administrador_2'] %}
          <td>
            <a href="{{ url_for('letter.edit', letter_id=l.id) }}" class="btn btn-sm btn-warning">
              Editar
            </a>
            <form action="{{ url_for('letter.delete', letter_id=l.id) }}" method="post" style="display:inline;" onsubmit="return confirm('¿Eliminar esta carta?');">
              <button class="btn btn-sm btn-danger">Eliminar</button>
            </form>
          </td>
          {% endif %}

        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="text-muted">No tienes cartas disponibles.</p>
  {% endif %}
  {% block scripts %}
  <script src="{{ url_for('static', filename='js/letter_form.js') }}"></script>
  {% endblock %}

{% endblock %}
