{% extends 'layout.html' %}

{% block title %}Menú Principal{% endblock %}

{% block header %}Bienvenido al Menú Principal{% endblock %}

{% block content %}
<div >
    <div class="card-body">
      <h4 class="card-title">
        Bienvenido, <strong>{{ user.nombre_completo }} {{ user.apellido}} </strong> 
      </h4>
      <p class="card-text text-muted">
        Nos alegra tenerte aquí. Usa el menú lateral para acceder a las funciones disponibles.
      </p>
    </div>
</div>
{% endblock %}


